.vsixmanifest
*.vsix
_config.yml
.gitignore
RELEASE.md
requirements/**
scripts/**
resources/AlgoWorkspace-mono.svg
resources/AlgoWorkspace.png
resources/AlgoWorkspace.svg
out/**/*.map
out/src/.env.local
out/src/temp.js
out/src/temp-extension.js
